.containerOrders{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 85px 0px 40px;

}

.listOrdersReady{
    margin-top: 15px;
    margin-bottom: 13px;
    width: 307px;
    height: 130px;
    overflow-y: scroll;
}

.productOrdersReady{
    display:flex;
    margin-left: 25px;
}

.quantifyOrders{
    font-family: 'Kadwa', serif;
    color: black;
    font-size: 15px;
    margin-right: 20px;
}

.productOrders{
    font-family: 'Kadwa', serif;
    color: black;
    font-size: 15px;
    
}

.listCommentOrdersReady{
    margin-left: 10px;
    margin-right: 10px;
    background-color:#E5E5E5;
    border-radius: 15px;
    padding: 10px;
}
.commentsTitleStyleOrders{
    font-family: 'Kadwa', serif;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.commentsTextStyleOrders{
    font-family: 'Kadwa', serif;
    color: black;
    font-size: 14px;
    width: 269px;
    height:70px;
}
/* ------------- Linea entre pedido y N de mesa ------------- */
.numberTableOrders{
    font-family: 'Kadwa', serif;
    color: black;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 3px solid #4EA7AD;
    padding: 15px 0px 1px 17px;
    margin-top: -9px;
}
.numberTableOrders-preparing{
    border-bottom: 3px solid #F2BB6B;
  }
/* ------------- Boton de la lista del pedido ------------- */
.buttonStyleOrders{
    background-color: #4EA7AD;
    font-family: 'Kadwa', serif;
    font-weight: bold;
    margin: 18px 0px 0px 94px;
    font-size: 18px;
    border: black;
    border-style: solid;
    border-width: 2px;
    width: 121px;
    height: 38px;
    border-radius: 15px;
  }

  .buttonStyleOrders-preparing{
    background-color: #F2BB6B;
  }
  /* ------------- Contenedor de lista de pedido ------------- */
  .containerOrdersReady{
    height: 415px;
    width: 320px;
    border: 4px solid #4EA7AD;
    border-radius: 15px;
    margin-left: 78px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 10px rgb(0 0 0 / 30%);
}
 .containerOrdersReady-preparing{
    border: 4px solid #F2BB6B;
  }