*{
    /*background-color: #E5E5E5;
    background-size: cover;*/
}
.container{
    display: grid;
    height: 86vh;
    align-content: center;
    justify-items: center;
}
.principal-logo-bq{
    max-height: auto;
    max-width: 387px;
    padding: 30px;
}
a{
    text-decoration: none;
    color: white;
    background-color: black;
}
.btn{
    margin-right:12px;
    height: 45px;
    width: 200px;
    text-align: center ;   
}
.btn.btn-welcome{
    background-color: #F2BB6B;     
    font-family: 'Kadwa', serif;
    font-weight: bold;
    border-radius: 0%;
    font-size: 20px;
    border: black;
    border-style: solid;
    border-width: 3px;

}

