.containerNavbarChef{
    display:flex;
}

.stateOrdersTitle{
    font-family: 'Kadwa', serif;
    font-weight: bold;
    color: black;
    font-size: 22px;
    margin-left: 24px;
    margin-top: 13px;
}

.stateOrders{
    display: flex;
    justify-content: flex-end;
    margin-top: 13px;
    margin-left: 538px;
}

.redBall{
    font-family: 'Kadwa', serif;
    color: black;
    font-size: 18px; 
    padding: 0px 20px;
}

.greenBall{
    font-family: 'Kadwa', serif;
    color: black;
    font-size: 18px; 
    padding: 0px 20px;
}

.containerOrders{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.containerOrderChef{
    height: 400px;
    width: 320px;
    border: 4px solid #F35F44;
    border-radius: 15px;
    margin-left: 52px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 10px rgb(0 0 0 / 30%);
}

.numberTable{
    font-family: 'Kadwa', serif;
    color: black;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 3px solid #F35F44;
    padding: 15px 0px 1px 17px;
    margin-top: -9px;
}

.listOrderChef{
    margin-top: 15px;
    margin-bottom: 13px;
    width: 307px;
    height: 130px;
    overflow-y: scroll;
}

.productOrderChef{
    display:flex;
    margin-left: 25px;
}

.quantifyOrder{
    font-family: 'Kadwa', serif;
    color: black;
    font-size: 15px;
    margin-right: 20px;
}

.productOrder{
    font-family: 'Kadwa', serif;
    color: black;
    font-size: 15px;
    
}

.listCommentChef{
    margin-left: 10px;
    margin-right: 10px;
    background-color: #E5E5E5;
    border-radius: 15px;
    padding: 10px;
}

.commentsTitleStyle{
    font-family: 'Kadwa', serif;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.commentsTextStyle{
    font-family: 'Kadwa', serif;
    color: black;
    font-size: 14px;
    width: 269px;
    height:70px;
}

.buttonEarring{
    background-color: #F35F44;
    font-family: 'Kadwa', serif;
    font-weight: bold;
    margin: 18px 0px 0px 94px;
    font-size: 18px;
    border: black;
    border-style: solid;
    border-width: 2px;
    width: 121px;
    height: 38px;
    border-radius: 15px;
}